

.bingo-machine_wrapper {
    display: grid;
    grid-template: "c" 1fr / 1fr;
}

.bingo-machine_overlay {
    grid-area: c;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: repeat(var(--slots), 1fr);
    align-items: stretch;
    image-rendering: pixelated;
    z-index: 1;
    &::before {
        z-index: 2;
        content: "";
        background-color: red;
        grid-area: 1 / 1 / -1 / 2;
    }
    &::after {
        z-index: 2;
        content: "";
        background-color: red;
        grid-area: 1 / -1 / -1 / -2;
    }

    :nth-last-child(1) {
        background-image: url('/img/stone.png');
        background-repeat: repeat;
        background-size: contain;
        grid-area: -1 / 1 / -2 / -1;
    }
    
    :nth-last-child(2) {
        background-image: url('/img/glass.png');
        background-repeat: repeat;
        background-size: contain;
        grid-area: -2 / 1 / -3 / -1;
    }

    :nth-last-child(3) {
        background-image: url('/img/glass.png');
        background-repeat: repeat;
        background-size: contain;
        grid-area: -3 / 1 / -4 / -1;
    }
}

.bingo-machine {
    grid-area: c;
    display: flex;
    flex-flow: row-reverse nowrap;
}

.bingo-machine .bingo-roll{
    flex: 0;
    overflow: hidden;
    justify-content: center;
    box-sizing: border-box;
    display: flex;
    flex-flow: column nowrap;
    & :first-child{
        margin-bottom: 37.5%;
        max-height: 25%;
        flex: 1 1;
        background-size: contain;
        background-repeat: no-repeat;
        image-rendering: pixelated;
        animation: bobbing 3.5s ease-in-out infinite;
    }
}

@keyframes bobbing {
    0% {
        transform: translateY(0px);
    } 50% {
        transform: translateY(10px);
    } 100% {
        transform: translateY(0);
    }
}